



span {
    font-weight: bold;
    color: #018682
}

.texto-destaque-vermelho {
    color: #ff2255;
    }

.texto-negrito {
    color: black;
}

.secao {
    text-align: center;
    }

p {
    font-size: 18px;
    line-height: 28px;
}

a {
	background-color: #bd4348;
	color: #ffffff;
	text-decoration: nome;
	padding: 2px 20px;
	border-radius: 10px
}

h1 {
    font-family: 28px;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #bd4348;
}

div {
    width: 600px;
    margin: 10px auto;
    font-family: Tahoma;
    text-align: center;
}

.secao-tattoaria .imagem-logotipo-tattoaria {
    width: 150px;
}


div .secao-tattoaria {
    margin: 10px auto;
    width: 500px;
    text-align: center;
    line-height: 28px
}

.h1-tattoaria {
    font-size: 18px;
}

.h2-tattoaria {
    color: #757575;
    font-weight: normal;
    font-size: 18px;
}

.img-rede-social-tattoaria {
    width: 40px;
}

.secao-tattoaria .a-tattoaria {
    text-decoration: none;
    margin: 0 10px;
}

.texto-vermelho-tattoaria {
    color: #ff2200;
}

/* === BACKGROUND === */

.body-background {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #00a2ea;
}

.card-background {
    background-color: #ffffff;
    width: 320px;
    text-align: justify;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px auto;
}

.paragrafo-background {
    width: 800px;
    padding: 5px 20px;
    margin: 10px auto;
    text-align: center;
}

.h1-background {
    font-size: 22px;
    text-align: center;
    text-decoration: none;

}

/* === CÃO / BACKGROUND === */

.body-background-cao {
    background-color: aqua;
    width: 100%;
    height: 100%
}

.div-background-cao {
    width: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
}

.img-background-cao {
    width: 100%;
    height: 100%;
}

.p-background-cao {
    font-size: 18px;
    text-align: justify;
}

/* === SENHOR DOS ANÉIS / BACKGROUND === */

.body-srdosaneis {
    background-color: #250553;
    margin: 0;
}

.srdosaneis-topo {
    /* height: 50px; */
    background-color: #02021c;
    padding: 10px 0;
    text-align: center
}

.h1-srdosaneis {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.h2-srdosaneis {
    color: #ffffff;
}

.img-srdosaneis {
    height: 400px;
}
.conteudo-srdosaneis {
    color: #cfcfcf;
    padding: 20px 80px;
    text-align: center;
    margin: 0 auto;
    width: 600px
}

.p-srdosaneis {
    font-size: 18px;
    line-height: 36px;
}

.p-topo-srdosaneis {
    text-align: center;
}

.texto-destaque-srdosaneis {
    background-color: #b535f6;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: bold;
}

/* === ALAN WAKE 2 / BACKGROUND === */

.body-alanwake2 {
    margin: auto;
    background-image: url(img/alanwake2/img1.jpg);
    }

.seca-topo-alanwake2 {
    background-color: #0078f2;
    text-align: center;
    padding: 10px 20px
}

.secao-topo-alanwake2 p {
  margin: 0;
  font-size: 22px;
  color: #fff
}

.secao-alanwake2 {
    padding: 10px 20px;
    width: 600px;
    margin: 0 auto;
    color: rgb(201, 201, 201);
}

.img-alanwake2 {
    width: 100%;
}

.a-alanwake2 {
  background-color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
}

.span-alanwake2 {
    color: #fff;
    font-weight: bold;
}

/* FLORESTAS / BACKGROUND === */

.body-florestas {
    background-image: url(img/florestas/fundo-floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.div-florestas {
    width: 800px;
    background-color: #ffffff;
    text-align: center;
}

.img-florestas {
    margin: auto;
    text-align: center;
}

.p-florestas {
    width: 700px;
    text-align: justify;
    margin: auto;
}